---
layout: default
---

    header.intro-header(style="background-image: url('/images/post-bg.jpg')")
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .post-heading
                        h1= document.title
                        h2.subheading
                        span.meta Posted by 
                            a(href="#")= document.author
                            | &nbsp;on #{document.date.toDateString()}

    article
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    != content